header {
  background-image: url('VideoPageBackground.png');
  width: 2048px;
  height: 656px;
  color: white;
  display: flex;
  padding-left: 2.5%;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 16%);
}
.headerLogo {
  position: absolute;
  width: 412px;
  height: 76px;
  left: 72px;
  top: 50px;
  transition: all 0.2s ease;
}

.headerLogo:hover {
  transform: scale(1.1);
}

.aboutBtn {
  position: absolute;
  min-width: 220px !important;
  min-height: 74px !important;
  right: 340px;
  top: 58px;

  transition: all 0.2s ease;
}

.aboutBtn:focus {
  outline: none !important;
}

.aboutBtn:hover {
  transform: scale(1.2);
}
.streamBtn {
  position: absolute;
  min-width: 220px !important;
  min-height: 74px !important;
  right: 88px;
  top: 58px;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

  transition: all 0.2s ease;
}

.streamBtn:focus {
  outline: none !important;
}

.streamBtn:hover {
  transform: scale(1.2);
}

.signStream {
  position: absolute;
  width: 1094px;
  height: 124px;
  left: 477px;
  top: 266px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.footer {
  position: absolute;
  width: 1950px;
  height: 600px;
  left: 0px;
  top: 20000px;
}

.real-time-interface {
  padding: 1.25% 0 0 2.5%;
  position: center !important;
  width: 100%;
}

.real-time-interface__button {
  display: flex;
  padding: 0.5em;
  border-radius: 0.5rem;
  justify-content: center;
  cursor: pointer;
  background: #6b2bd6;
  color: white;
  width: 50px;
  height: 12px;
  font-size: 1px;
}

.real-time-interface__title {
  margin-bottom: 0.5em;
  font-size: 18px;
  position: center !important;
  font-weight: 525;
}

.real-time-interface__message {
  font-family: 'Roboto Condensed', sans-serif, bold;
  text-align: left;
  width: 1500px;
  margin-top: 0.5em;
  font-size: 19px;
  font-weight: 400;
  box-shadow: 0 0 32px 0 rgb(0 0 0 / 16%);
  padding: 1em;
  transition: 0.5s ease-in;
  margin-bottom: 1cm;
  margin-left: 4cm;
  border-radius: 25px;
  border: 2px solid #4aa5f0;
}


.vid {
  position: center !important;
  padding-right: 25%;
  margin-left: 10cm;
}

.image {
  position: center !important;
  padding-right: 25%;
  margin-left: 10cm;

}


.btn {
  background: #ff5c00;
  height: 105px;
  min-width: 317px;
  border: 1px #ff5c00;

  position: center !important;
  width: 346px;
  height: 114px;
  left: 565px;
  top: 507px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  font-family: 'Roboto Condensed', sans-serif, bold;
  font-style: normal;
  font-weight: 2000 !important;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  font-size: 45px !important;
  border-radius: 80px !important;

  margin-top: 1cm;
  margin-bottom: 1cm;
  margin-left: 20cm;

  transition: all 0.2s ease;
}

.btn:focus {
  outline: none !important;
}

.btn:hover {
  transform: scale(1.2);
  color: #ffffff !important;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
